@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/site.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />


<div class="container-fluid">
    <div class="row">

        <div class="col-xl-8 col-lg-8">


            <nav id="secondary_nav" class="navbar navbar-expand-sm bg-primary">
                <div class="container-fluid">
                    <ul class="navbar-nav ">
                        <li class="nav-item active"><a class="nav-link text-white" href="#general_info_section"><strong>General info</strong></a></li>
                        <li class="nav-item active"><a class="nav-link text-white" href="#about_section"><strong>About Me</strong></a></li>
                        <li class="nav-item active"><a class="nav-link text-white" href="#therapies"><strong>Therapies</strong></a></li>
                        <li class="nav-item active"><a class="nav-link text-white" href="#education_section"><strong>Education</strong></a></li>
                        <li class="nav-item active"><a class="nav-link text-white" href="#experience_section"><strong>Experience</strong></a></li>
                        <li class="nav-item active"><a class="nav-link text-white" href="#certifications_section"><strong>Certifications</strong></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<br />

<!-- General Info -->
<div class="container-fluid">
    <div id="general_info_section">
        <div class="box_general_3">
            <div class="profile">
                <div class="row">
                    <div class="col-lg-5 col-md-4">
                        <figure class="all_image-pic">
                            <img class="img-fluid" width="300" height="300" src="~/img/PP.png" alt="PP">

                        </figure>
                    </div>
                    <div class="col-lg-7 col-md-8">
                        <small class="text-secondary">Home Physiotherapist</small>
                        <h3 class="text-primary">Dr.Aishwarya Shenoy</h3>

                        <ul class="contacts">
                            <li>
                                <h5>Physiotherapist in</h5>
                                Doddakammanahalli, Bengaluru, Karnataka, 560076
                            </li>
                            <li>
                                <h5>Locations Serviced</h5>
                                <p class="text-danger">JP Nagar,Bommasandra,Anjanapura</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- About Us -->
<div class="container-fluid">
    <div id="about_section">
        <div class="box_general_3">
            <div class="indent_title_in">
                <i class="pe-7s-news-paper"></i>
                <h2 class="text-primary">About Me</h2>
            </div>

            <div class="wrapper_indent">
                <p>Dr. Aishwarya Shenoy is one of the best female physical therapy experts in Whitefield, Bangalore. She offers, Physiotherapy at home in Whitefield, Bangalore and nearby areas. With a well-established practice for home physiotherapy, she is an expert in treatment of conditions such as Back Pain, Neck Pain, Knee Pain, Sciatica, Cervical Spondylosis, Disc Bulge, Frozen Shoulder, Arthritis, Osteoporosis, Muscle Weakness, Balancing Problems... Post surgery rehab for Shoulder, Knee Surgery / TKR, Hip Replacement ...  Neurological issues like Stroke, Nerve Injuries , Bells Palsy, Multiple Sclerosis, Parkinson’s. Dr. Aishwarya Shenoy has an overall experience of 1 Year in various hospitals &  clinic. Her main focus / expertise is in the field of General Physiotherapy but has trained & worked across multiple specialities like General Physiotherapy, Pediatric Physiotherapy, Geriatric Physiotherapy, Vestibular Rehabilitation, Neurological Physiotherapy, Musculoskeletal Physiotherapy, Cardiovascular, Physiotherapy, Pulmonary Physiotherapy, Sports Physiotherapy, Pre and Post Surgery ,Rehabilitation, Dry Needling. She has experience of working with a wide range of patients from children of small age to senior patients. Dr. Aishwarya Shenoy is very compassionate and dedicated to patient well being. If you are looking for best physiotherapy service near you in Whitefield, Bangalore she is the one of the best you can get for your treatment or the treatment of your loved ones. To Book an appointment with Dr. Aishwarya Shenoy or to schedule a home visit. Contact CB Physiotherapy over whatsapp or call us .</p>
            </div>
        </div>
    </div>
</div>
<br />




<!-- Therapies-->
<div class="container-fluid">
    <div id="therapies">
        <div class="box_general_3">
            <div class="indent_title_in">
                <i class="pe-7s-news-paper"></i>
                <h2 class="text-primary">Therapies Offered</h2>
                <p> Ultrasound Therapy, Interferential Therapy (IFT), Mobility Exercises, Transcutaneous Electrical Nerve Stimulation (TENS), Heat Therapy / Cold Therapy, Manual Therapy, Soft Tissue Massage, Joint Mobilizations</p>
            </div>

        </div>
    </div>
</div>
<br />















<!-- Education / Qualification -->
<div class="container-fluid">
    <div id="education_section">
        <div class="box_general_3">
            <div class="indent_title_in">
                <i class="pe-7s-news-paper"></i>
                <h2 class="text-primary">Education</h2>
            </div>
            <div class="wrapper_indent">
                <p>Dr. Aishwarya Shenoy has completed her BPT Degree.</p>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Qualification</th>
                                <th>College</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Bachelors of Physiotherapy</h5>
                                </td>
                                <td><h5>Rajiv Gandhi University of Health Sciences</h5></td>
                            </tr>
                        </tbody>
                    </table>
                </div>




            </div>
        </div>
    </div>
</div>

<br />
<!-- Experience -->
<div class="container-fluid">
    <div id="experience_section">
        <div class="box_general_3">
            <div class="indent_title_in">
                <i class="pe-7s-news-paper"></i>
                <h2 class="text-primary">Overview of Experience</h2>
            </div>
            <div class="wrapper_indent">
                <p>Dr. Aishwarya Shenoy has an overall experience of 1 year.</p>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Overall Experience in Years </th>
                                <th>1</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Awards / Associations / Certifications -->
<div class="container-fluid">
    <div id="certifications_section">
        <div class="box_general_3">
            <div class="indent_title_in">
                <i class="pe-7s-news-paper"></i>
                <h2 class="text-primary">Awards / Associations / Certifications  </h2>
            </div>
            <div class="wrapper_indent">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="center">No record</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/site.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</div>
